/*Checked **/
#backgroundColor {
    background-color: #616E81;
}

#images {
    display: flex;
    overflow-x: auto; 
    white-space: nowrap; 
    padding: 0px;
    margin: 0;
    width: 1700px;
}

#cardTitle {
    font-family: 'Garamond';
    font-weight: 400;
    margin-left: 3px
}

#cardSubTitle {
    color: #a84343;
    font-family: 'Gill Sans';
    margin-left: 3px
}

#cardLinkBtn {
    background-color: #1B1B1F;
    color: white;
    font-size:10px;
}

#handleSubmit {
    padding-top: 30px;
}

#labelSubject {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 500
}

#inputSubject {
    margin-left: 15px;
    width: 400px
}

#searchButton {
    margin-left: 20px;
}
